* {
  font-family: "JetBrainsMono Nerd Font", "M+1Code Nerd Font";
  font-size: 12px;
  animation-delay: 0s;
  transition-duration: 0s;
}

@import "theme.css";

window#waybar {
  color: @dark;
  background: none;
  background-color: transparent;
  border: 0px solid @dark;
  border-radius: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 100px;
}

window#waybar.hidden {
  opacity: 1;
}

tooltip {
  color: @dark;
  background-color: @white;
  text-shadow: none;
  border-radius: 2px;
  border: 1px solid @dark;
}

tooltip * {
  color: @dark;
  text-shadow: none;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 5px 5px;
  background-color: transparent;
  border-radius: 5px;
  border: 0px solid @dark;
  padding: 0px 10px 0px 10px;
}

.modules-center {
  border: none;
}

#taskbar {
  background: transparent;
  box-shadow: none;
  border: none;
}

#taskbar:hover,
#taskbar:focus {
  background: transparent;
  background-color: @ultra-white;
  box-shadow: none;
  border: none;
}

#custom-theme,
#custom-rofi {
  font-size: 14px;
  padding-left: 6px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#bluetooth {
  margin: 0 10px;
}

#custom-logo {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

#custom-shut,
#custom-reboot,
#custom-logout,
#custom-lock {
  font-size: 14px;
  margin: 0px 5px;
}

#custom-separator {
  color: @ultra-white;
  margin: 4px 5px;
}

#workspaces button {
  /* font-weight: 600; */
  border-radius: 0;
  padding: 0 4px;
  margin: 0;
}

#workspaces button.active {
  /* font-weight: 600; */
  border-radius: 0;
  color: @light-gold;
}

#workspaces button:hover {
  color: @ultra-black;
  background: transparent;
  background-color: @ultra-white;
  /* padding: 0 14px; */
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  border: none;
}
